/*
#379683


*/


#global{
    background-color: mintcream;
    font-family: Helvetica;
}
#titlebox{
    margin-top: 0;
    float: left;
    width:100%;
    height:80%;
}
#leftbox {
    float:left; 
    background: #2a485e;
    width:25%;
    height:100%;
}
#middlebox{
    float:left; 
    width:50%;
    background-color: mintcream;
}
    .one{
        background-color: mintcream;
    }
    .two{
        background-color: mintcream;
    }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: darkslategrey;
            color: white;
        }
#rightbox{
    float:right;
    background: #2a485e;
    width:25%;
    height:100%;
}

.centered{
    text-align: center;
}

.divimg{
    max-width: 100%;
    max-height: 100%;
    margin-left: 0;
}
.imgdiv{
    margin: auto;
    max-width: 50%;
}

.title{
    margin-top: 1vw;
}
.text-color-white{
    color: white;
}






/*@media screen and (max-width: 1070px) {
    #rightbox, #leftbox
    {display:none;}

    #middlebox
    {   transform: scale(1.2);
        transform-origin: top left;
        width: 83%;
        -moz-transform: scale(1.2);
        -moz-transform-origin: top left;};
}*/
@media screen and (max-width: 780px) {
    #rightbox, #leftbox
    {display:none;}

    #middlebox
    {transform: scale(1.5);
        transform-origin: top left;
        width: 66%;
        -moz-transform: scale(1.5);
        -moz-transform-origin: top left;}
}


