#global{
    background-color: rgb(224, 195, 184);
    font-family: Helvetica;
}
#titlebox{
    float: left;
    background: rgb(189,183,107);
    width:100%;
    height:100%;
}
#leftbox {
    float:left; 
    background: rgb(230, 216, 204);
    width:25%;
    height:10cm;

}
#middlebox{
    float:left; 
    background: rgb(224, 195, 184);
    width:50%;
    height: 10cm;
}
#rightbox{
    float:right;
    background: rgb(230, 216, 204);
    width:25%;
    height:10cm;
}

.title{
    text-align:center;
}
.centered{
    text-align: center;
}
