#leftbox {
    float:left; 
    background: #f5fbff;
    width:20%;
    height:100%;
}
#rightbox {
    float:right; 
    background: #f5fbff;
    width:80%;
    height:100%;
}


#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    color: white;
}
.title{
    margin-top: 1vw;
}
.centered{
    text-align: center;
}



@media screen and (max-width: 1070px) {
    body{
        transform: scale(1.5);
        transform-origin: top left;
        width: 66%;
        -moz-transform: scale(1.5);
        -moz-transform-origin: top left;
    }
}